@media screen and (max-width: 768px){
	.android{
		display: block;
	}
	.desktop{
		display: none;
	}                  
	.nav-desktop{
		display: none;
	}
}
@media screen and (min-width: 769px;){
	.android{
		display: none;
	}
	.desktop{
		display: flex;
	}
	.nav-desktop{
		display: flex;
	}
}